html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.fw-m-bold {
  font-weight: 500;
}

.fw-b {
  font-weight: 700;
}

/** custom styles for PS coverage form**/
.address-manager-dialog.aceDialog {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #fff;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.address-manager-dialog.aceDialog .ui-dialog-titlebar {
  height: auto;
  border: 0 dotted #515151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  background-color: #2776bd !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8px;
}

.address-manager-dialog.aceDialog.aceDialog.ui-draggable .ui-dialog-titlebar {
  cursor: default;
}

.address-manager-dialog.aceDialog .control.checkbox {
  position: relative;
}

.address-manager-dialog.aceDialog .ui-dialog-title {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  /* text-align: center; */
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 3rem;
  white-space: nowrap;
  overflow: HIDDEN;
  text-overflow: ellipsis;
  margin: 0 20px 0 10px;
}

.address-manager-dialog.aceDialog .address-manager-wrapper.ui-dialog-content {
  background-color: #f5f5f5;
  margin: 0;
  padding: 16px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.address-manager-dialog.aceDialog .address-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.address-manager-dialog.aceDialog .tab-nav-bar {
  border-bottom: 2px solid #CDCDCD;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 36px;
  margin: 0 auto;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks {
  min-width: 150px;
  font-size: 0.9rem;
  border: none;
  background-color: #fff;
  color: #727272;
  font-weight: 500;
  font-weight: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: center;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  margin: 0 2px;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:first-of-type {
  margin-left: 16px;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2776bd;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:hover:before, .address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:focus:before, .address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:active:before, .address-manager-dialog.aceDialog .tab-nav-bar button.tablinks.selected:before {
  right: 0;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:hover {
  color: #484848;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks:active {
  color: #484848;
}

.address-manager-dialog.aceDialog .tab-nav-bar button.tablinks.selected {
  color: #484848;
  background-color: #fff;
}

.address-manager-dialog.aceDialog .tab-section {
  margin: 0;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.address-manager-dialog.aceDialog .tab-content-header {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-manager-dialog.aceDialog .tab-content-header .tab-content-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2776bd;
}

.address-manager-dialog.aceDialog .tab-content-header .tab-content-title .prePendText {
  font-weight: normal;
  color: #484848;
}

.address-manager-dialog.aceDialog .tab-content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar-button {
  background-color: #ffffff;
  width: 10px;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar-thumb {
  width: 6px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar-thumb:active {
  background-color: #ccc;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-content-wrapper::-webkit-resizer {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-panel-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 400px;
  border: 1px solid #CDCDCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section {
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #CDCDCD;
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
  padding: 0;
  margin-left: 16px;
  position: relative;
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox input {
  left: 0;
  top: auto;
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .control-indicator {
  position: relative;
  top: auto;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  text-align: center;
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label {
  display: block;
  margin-left: 8px;
  padding-left: 20px;
  background-size: 16px 16px;
  background-position: center left;
  background-repeat: no-repeat;
  font-size: 0.9rem;
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel.primaryAddress,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label.primaryAddress {
  background-image: url("../images/png/map-pin-666.png");
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel.primaryAddress:focus, .address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel.primaryAddress:active,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label.primaryAddress:focus,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label.primaryAddress:active {
  background-image: url("../images/png/map-pin-2776bd.png");
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel.shippingAddress,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label.shippingAddress {
  background-image: url("../images/png/shipping-icon-666.png");
}

.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel.shippingAddress:focus, .address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .controlLabel.shippingAddress:active,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label.shippingAddress:focus,
.address-manager-dialog.aceDialog .tab-panel-left-header-section .checkbox-wrapper .control.checkbox .shipping-checkbox-label.shippingAddress:active {
  background-image: url("../images/png/shipping-icon-2776bd.png");
}

.address-manager-dialog.aceDialog .header-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.address-manager-dialog.aceDialog .instruction-text {
  font-size: .8rem;
  margin-bottom: 8px;
}

.address-manager-dialog.aceDialog .tab-panel-left-input-section {
  min-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-manager-dialog.aceDialog .tab-panel-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 400px;
  min-width: 300px;
  border: 1px solid #CDCDCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.address-manager-dialog.aceDialog .tab-panel-right-header-section {
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #CDCDCD;
}

.address-manager-dialog.aceDialog .tab-panel-right-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-manager-dialog.aceDialog .tab-panel-right-controls.control-hidden {
  display: none;
}

.address-manager-dialog.aceDialog .card-create-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  letter-spacing: 0.25px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: white;
  height: 24px;
  padding: 4px 8px 4px 8px !important;
  font-size: 0.8rem !important;
  line-height: 0;
  color: #2776BD;
  background-color: #FFF;
  border-color: #2776BD;
}

.address-manager-dialog.aceDialog .card-create-button:hover {
  background-color: #C4D9ED;
}

.address-manager-dialog.aceDialog .card-create-button:active, .address-manager-dialog.aceDialog .card-create-button:focus {
  background-color: #9DC0E1;
}

.address-manager-dialog.aceDialog .tab-card-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar-button {
  background-color: #ffffff;
  width: 10px;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar-thumb {
  width: 6px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar-thumb:active {
  background-color: #ccc;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-scrollbar-corner {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .tab-card-container::-webkit-resizer {
  background-color: #ffffff;
}

.address-manager-dialog.aceDialog .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  border: 2px solid #CDCDCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.address-manager-dialog.aceDialog .card-container.card-focused {
  border: 2px solid #2776BD;
}

.address-manager-dialog.aceDialog .card-container .card-btn-wrapper {
  text-align: right;
}

.address-manager-dialog.aceDialog .card-header {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-manager-dialog.aceDialog .card-title {
  font-weight: 500;
  font-size: .8rem;
  width: auto;
  margin-right: 8px;
}

.address-manager-dialog.aceDialog .card-header-btn-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-manager-dialog.aceDialog .card-header .card-edit, .address-manager-dialog.aceDialog .card-header .card-delete {
  height: 20px;
  width: 20px;
  background-size: 16px 16px;
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  border: none;
}

.address-manager-dialog.aceDialog .card-header .card-edit {
  background-image: url("../images/png/icon-edit--default.png");
}

.address-manager-dialog.aceDialog .card-header .card-edit:hover {
  background-image: url("../images/png/icon-edit--hover.png");
}

.address-manager-dialog.aceDialog .card-header .card-edit:active, .address-manager-dialog.aceDialog .card-header .card-edit:focus {
  background-image: url("../images/png/icon-edit--focus.png");
}

.address-manager-dialog.aceDialog .card-header .card-delete {
  margin-left: 16px;
  background-image: url("../images/png/icon-delete--default.png");
}

.address-manager-dialog.aceDialog .card-header .card-delete:hover {
  background-image: url("../images/png/icon-delete--hover.png");
}

.address-manager-dialog.aceDialog .card-header .card-delete:active, .address-manager-dialog.aceDialog .card-header .card-delete :focus {
  background-image: url("../images/png/icon-delete--focus.png");
}

.address-manager-dialog.aceDialog .card-address-text {
  font-size: .8rem;
  margin-bottom: 4px;
  line-height: 1.3;
}

.address-manager-dialog.aceDialog .address-editor {
  padding: 8px;
  border: 2px solid #2776BD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 8px;
  border-radius: 4px;
}

.address-manager-dialog.aceDialog .address-editor .card-btn-wrapper {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.address-manager-dialog.aceDialog .address-editor .card-btn-wrapper .affilLabel {
  margin-bottom: 4px;
}

.address-manager-dialog.aceDialog .address-editor .card-btn-wrapper .card-delete {
  height: 20px;
  width: 20px;
  background-size: 16px 16px;
  background-position: center center;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  border: none;
  margin-left: auto;
  background-image: url("../images/png/icon-delete--default.png");
}

.address-manager-dialog.aceDialog .address-editor .card-btn-wrapper .card-delete:hover {
  background-image: url("../images/png/icon-delete--hover.png");
}

.address-manager-dialog.aceDialog .address-editor .card-btn-wrapper .card-delete:active, .address-manager-dialog.aceDialog .address-editor .card-btn-wrapper .card-delete :focus {
  background-image: url("../images/png/icon-delete--focus.png");
}

.address-manager-dialog.aceDialog .card-editor-checkbox-placeholder {
  display: none;
}

.address-manager-dialog.aceDialog .address-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-manager-dialog.aceDialog .address-card-row .control {
  padding-left: 16px;
}

.address-manager-dialog.aceDialog .address-card-row .control.checkbox {
  margin-left: 16px;
}

.address-manager-dialog.aceDialog .address-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-manager-dialog.aceDialog .card-item-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
}

.address-manager-dialog.aceDialog .card-item-input .primary-loc,
.address-manager-dialog.aceDialog .card-item-input .shipping-loc {
  position: relative;
  margin-left: 4px;
}

.address-manager-dialog.aceDialog .card-item-input .required {
  border-left: 4px solid #D0021B !important;
}

.address-manager-dialog.aceDialog .card-item-input .required:hover {
  border-left: 4px solid #D0021B !important;
}

.address-manager-dialog.aceDialog .card-item-input .required:focus {
  border-left: 4px solid #D0021B !important;
}

.address-manager-dialog.aceDialog .card-item-input .required:active {
  border-left: 4px solid #D0021B !important;
}

.address-manager-dialog.aceDialog .card-item-input:first-of-type {
  margin-right: 4px;
}

.address-manager-dialog.aceDialog .card-item-input:first-of-type {
  margin-left: 4px;
}

.address-manager-dialog.aceDialog .card-item-input:only-of-type {
  margin-left: 0;
  margin-right: 0;
}

.address-manager-dialog.aceDialog .card-editor-checkbox-placeholder {
  display: none;
}

.address-manager-dialog.aceDialog .card-editor-save, .address-manager-dialog.aceDialog .card-apply {
  color: #FFF;
  background-color: #2776BD !important;
  border-color: transparent;
  padding: 4px 8px 4px 8px !important;
  font-size: 0.7rem !important;
  border: transparent !important;
  cursor: pointer;
  border-radius: 4px;
}

.address-manager-dialog.aceDialog .card-editor-save:hover, .address-manager-dialog.aceDialog .card-editor-save:active, .address-manager-dialog.aceDialog .card-editor-save:focus, .address-manager-dialog.aceDialog .card-apply:hover, .address-manager-dialog.aceDialog .card-apply:active, .address-manager-dialog.aceDialog .card-apply:focus {
  background-color: #336EA3 !important;
  border: transparent !important;
}

.address-manager-dialog.aceDialog .card-editor-save {
  margin-left: auto;
  margin-right: 8px;
}

.address-manager-dialog.aceDialog .card-editor-cancel {
  color: #2776BD !important;
  background-color: transparent;
  border-color: transparent;
  padding: 4px 8px 4px 8px !important;
  font-size: 0.7rem !important;
  border: transparent !important;
  cursor: pointer;
  border-radius: 4px;
}

.address-manager-dialog.aceDialog .card-editor-cancel:hover, .address-manager-dialog.aceDialog .card-editor-cancel:active, .address-manager-dialog.aceDialog .card-editor-cancel:focus {
  background-color: #C4D9ED !important;
  border: transparent !important;
}

.address-manager-dialog.aceDialog .map-collapse, .address-manager-dialog.aceDialog .map-expand {
  height: 18px;
  width: 100%;
  border: 1px solid #CDCDCD;
  border-bottom: none;
  background-color: #CDCDCD;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.address-manager-dialog.aceDialog .map-collapse:active, .address-manager-dialog.aceDialog .map-expand:active {
  border: 1px solid #1b87c9;
  border-bottom: none;
  background-color: #1b87c9;
}

.address-manager-dialog.aceDialog .map-collapse {
  background-image: url("../images/png/chevron_expand-default.png");
}

.address-manager-dialog.aceDialog .map-collapse:hover, .address-manager-dialog.aceDialog .map-collapse:focus {
  background-image: url("../images/png/chevron_expand-active.png");
}

.address-manager-dialog.aceDialog .map-collapse:active {
  background-image: url("../images/png/chevron_expand-active-FFF.png");
}

.address-manager-dialog.aceDialog .map-expand {
  background-image: url("../images/png/chevron_collapse-default.png");
}

.address-manager-dialog.aceDialog .map-expand:hover, .address-manager-dialog.aceDialog .map-expand:focus {
  background-image: url("../images/png/chevron_collapse-active.png");
}

.address-manager-dialog.aceDialog .map-expand:active {
  background-image: url("../images/png/chevron_collapse-active-FFF.png");
}

.address-manager-dialog.aceDialog .tab-panel-right-mapframe {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #CDCDCD;
}

.address-manager-dialog.aceDialog .tab-panel-right-mapframe iframe.googleMap {
  max-height: 200px !important;
}

.address-manager-dialog.aceDialog .menuButton {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: #FFF;
  padding-top: 2px !important;
  padding-right: 20px !important;
  padding-bottom: 2px !important;
  padding-left: 8px !important;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  font-family: "Roboto", sans-serif !important;
  width: 100%;
}

.address-manager-dialog.aceDialog .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

.address-manager-dialog.aceDialog .menuButton:focus, .address-manager-dialog.aceDialog .menuButton:active {
  border: 1px solid #2776BD;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

.address-manager-dialog.aceDialog .menuButton[disabled] {
  border: 1px solid #D8D8D8;
  color: #999;
  background-image: url("../images/png/icon-arrow_down--disabled.png");
  cursor: auto;
}

.address-manager-dialog.aceDialog .menuButton[required], .address-manager-dialog.aceDialog .menuButton.menuButton.requiredField, .address-manager-dialog.aceDialog .menuButton.requiredField.error {
  border-left: 4px solid #D0021B;
}

.address-manager-dialog.aceDialog .menuButton.error {
  border: 1px solid #D0021B;
}

.address-manager-dialog.aceDialog .menuButtonContainer:focus {
  outline: none;
  border: 0px solid white;
  background-color: #FFF;
}

.address-manager-dialog.aceDialog la-input {
  height: 24px;
  max-width: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 8px;
}

.address-manager-dialog.aceDialog la-input div[id="la-input-underline"] {
  display: none;
}

.address-manager-dialog.aceDialog input[id="la-input"], .address-manager-dialog.aceDialog input[type="text"], .address-manager-dialog.aceDialog .address-editor input {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 24px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 16px 2px 16px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.5;
}

.address-manager-dialog.aceDialog input[id="la-input"] :hover, .address-manager-dialog.aceDialog input[type="text"] :hover, .address-manager-dialog.aceDialog .address-editor input :hover {
  border: 1px solid #8DA7C5;
}

.address-manager-dialog.aceDialog input[id="la-input"]:active, .address-manager-dialog.aceDialog input[id="la-input"]:focus, .address-manager-dialog.aceDialog input[type="text"]:active, .address-manager-dialog.aceDialog input[type="text"]:focus, .address-manager-dialog.aceDialog .address-editor input:active, .address-manager-dialog.aceDialog .address-editor input:focus {
  border: 1px solid #2776BD !important;
}

.address-manager-dialog.aceDialog input[id="la-input"].requiredField, .address-manager-dialog.aceDialog input[type="text"].requiredField, .address-manager-dialog.aceDialog .address-editor input.requiredField {
  border-left: 4px solid #e53953 !important;
}

.address-manager-dialog.aceDialog input[id="la-input"].requiredField:hover, .address-manager-dialog.aceDialog input[id="la-input"].requiredField:active, .address-manager-dialog.aceDialog input[id="la-input"].requiredField:focus, .address-manager-dialog.aceDialog input[type="text"].requiredField:hover, .address-manager-dialog.aceDialog input[type="text"].requiredField:active, .address-manager-dialog.aceDialog input[type="text"].requiredField:focus, .address-manager-dialog.aceDialog .address-editor input.requiredField:hover, .address-manager-dialog.aceDialog .address-editor input.requiredField:active, .address-manager-dialog.aceDialog .address-editor input.requiredField:focus {
  border-left: 4px solid #e53953;
}

.address-manager-dialog.aceDialog input[id="la-input"].requiredField .editControlLabelContainer, .address-manager-dialog.aceDialog input[type="text"].requiredField .editControlLabelContainer, .address-manager-dialog.aceDialog .address-editor input.requiredField .editControlLabelContainer {
  border-left: 4px solid #e53953;
}

.address-manager-dialog.aceDialog la-input.right-panel-filter input, .address-manager-dialog.aceDialog la-input.tab-panel-left-filter input {
  padding: 2px 16px 2px 24px;
  background: url("../images/png/icon-filter--default.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog la-input.right-panel-filter input:hover, .address-manager-dialog.aceDialog la-input.tab-panel-left-filter input:hover {
  background: url("../images/png/icon-filter--hover.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog la-input.right-panel-filter input:active, .address-manager-dialog.aceDialog la-input.tab-panel-left-filter input:active {
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog la-input.right-panel-filter input:focus, .address-manager-dialog.aceDialog la-input.tab-panel-left-filter input:focus {
  background: url("../images/png/icon-filter--focus.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog input.google-search-input {
  padding: 2px 16px 2px 24px;
  background: url("../images/png/icon-search--default.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog input.google-search-input:hover {
  background: url("../images/png/icon-search--hover.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog input.google-search-input:active {
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog input.google-search-input:focus {
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px !important;
}

.address-manager-dialog.aceDialog .tab-card-container input {
  margin-bottom: 8px;
}

.address-manager-dialog.aceDialog .tab-card-container .affilLabel {
  margin-bottom: 4px;
  display: block;
  font-size: .8rem;
  color: #787878;
}

.address-manager-dialog.aceDialog .ui-dialog-buttonpane {
  background-color: #eeeeee;
  border: none;
  border-top: 1px solid #dddddd;
  margin-top: 0 !important;
}

.address-manager-dialog.aceDialog .ui-dialog-buttonpane la-ripple {
  display: none;
}

.address-manager-dialog.aceDialog .ui-dialog-buttonset .cancelButton {
  background-color: transparent;
  border-color: transparent !important;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid {
  border: 1px solid #b7bfc8;
  width: calc(100% - 16px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 180px;
  margin: 8px;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-resizable-handle .massMax {
  display: none;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid [data-type="undoButton"].undoButton {
  background: url("../images/png/icon-undo--default.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid [data-type="undoButton"].undoButton:hover {
  background: url("../images/png/icon-undo--hover.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid [data-type="undoButton"].undoButton:active {
  background: url("../images/png/icon-undo--focus.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input[type="checkbox"] {
  margin-left: 0;
  margin-top: 5px;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .ui-state-default.slick-header-column span.slick-column-name {
  padding-right: 1px !important;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.del {
  width: 100% !important;
  height: 22px !important;
  display: block;
  background-size: 16px 16px !important;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  font-size: 0%;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.del {
  background-color: transparent;
  border: none;
  background-image: url("../images/png/icon-delete--default.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.del:hover, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.del:focus, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.del:active {
  background-color: transparent;
  border: none;
  background-image: url("../images/png/icon-delete--focus.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .not-linked {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/png/icon-accountNoLink.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .linked {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  background-image: url("../images/png/icon-accountLink.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell [data-type="undoButton"].undoButton {
  background: url("../images/png/icon-undo--default.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell span.fakeSelect, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .menuButton {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 20px;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: url("../images/png/icon-arrow_down--default.png");
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-color: transparent;
  padding-top: 2px !important;
  padding-right: 20px !important;
  padding-bottom: 2px !important;
  padding-left: 8px !important;
  text-align: left;
  cursor: pointer;
  line-height: 0;
  font-family: "Roboto", sans-serif !important;
  width: 100%;
  line-height: 1.3;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell span.fakeSelect:hover, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .menuButton:hover {
  border: 1px solid #8DA7C5;
  background-image: url("../images/png/icon-arrow_down--hover.png");
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell span.fakeSelect:focus, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell span.fakeSelect:active, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .menuButton:focus, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .menuButton:active {
  border: 1px solid #2776BD;
  background-image: url("../images/png/icon-arrow_down--focus.png");
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeInput, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input[id="la-input"] {
  color: #757575;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  display: block;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 20px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-search--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.3;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeInput :hover, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input[id="la-input"] :hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeInput:active, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeInput:focus, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input[id="la-input"]:active, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input[id="la-input"]:focus {
  border: 1px solid #2776BD !important;
  background: url("../images/png/icon-search--focus.png") no-repeat center left 4px;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell la-input [id="la-input-underline"] {
  display: none;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeDatePicker, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.hasDatepicker {
  color: #757575;
  border: 1px solid #B7BFC8;
  background-color: transparent;
  border-radius: 4px;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.8rem;
  height: 20px;
  width: 100%;
  min-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url("../images/png/icon-calendar--default.png") no-repeat center left 4px;
  padding: 2px 16px 2px 24px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0;
  text-indent: 0 !important;
  line-height: 1.5;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeDatePicker :hover, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.hasDatepicker :hover {
  border: 1px solid #8DA7C5;
  background: url("../images/png/icon-calendar--hover.png") no-repeat center left 4px;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeDatePicker:active, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .fakeDatePicker:focus, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.hasDatepicker:active, .address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell input.hasDatepicker:focus {
  border: 1px solid #2776BD !important;
  background: url("../images/png/icon-calendar--focus.png") no-repeat center left 4px;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell .add-location {
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .slick-cell .control-indicator {
  border: 1px solid #2776bd;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .slick-cell.dataGridHoverCell:hover {
  background-color: #fff;
  border: 1px solid #B7BFC8;
  border-radius: 4px;
  color: #484848;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .slick-cell [data-type="undoButton"].undoButton {
  background: url("../images/png/icon-undo--default.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .slick-cell [data-type="undoButton"].undoButton:hover {
  background: url("../images/png/icon-undo--hover.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .slick-cell [data-type="undoButton"].undoButton:active {
  background: url("../images/png/icon-undo--focus.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row.active [data-type="deleteButton"].deleteButton {
  background: url("../images/png/icon-delete--default.png") no-repeat center center !important;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row.active [data-type="undoButton"].undoButton {
  background: url("../images/png/icon-undo--default.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row.active [data-type="undoButton"].undoButton:hover {
  background: url("../images/png/icon-undo--hover.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row.active [data-type="undoButton"].undoButton:active {
  background: url("../images/png/icon-undo--focus.png") no-repeat !important;
  height: 100%;
  width: 22px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  margin: 0;
  font-size: 0;
  cursor: pointer;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:active .slick-cell .control-indicator,
.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell.selected .control-indicator,
.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .selected .control-indicator {
  border: 1px solid #2776bd;
}

.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:active .slick-cell .editor-text,
.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-cell.selected .editor-text,
.address-manager-dialog.aceDialog .tab-panel-left-grid-section.aceDataGrid .slick-row:hover .selected .editor-text {
  background-color: #fff !important;
  height: 20px !important;
}

@media (max-width: 779px) {
  .address-manager-dialog.aceDialog .tab-content-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .address-manager-dialog.aceDialog .tab-panel-left {
    max-height: 360px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .address-manager-dialog.aceDialog .tab-panel-right {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
    min-width: 100%;
    min-height: 680px;
  }
}
