/*******************************************************************
    power cube styling begins 
*******************************************************************/

.multiSelectValue {
  min-width: 100px;
  padding-left: 25px;
  font-size: .7em;
  color: #797979;
  font-weight: 600;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
}

.required{
	border-left:#FF0000 2px solid;
	padding-left: 3px;
}

.menuButtonContainer namePointingDropDown{
  margin-top: -5px;	
}

.genericButton{
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
}

.showEditBox{
	display: flex!important;	
}

.hideEditBox{
	display: none!important;	
}

[id="Billing:AccountaddressPickerDiv"] div,
[id="Billing:AccountaddressPickerDiv"] a ,
[id="Mailing:ContactaddressPickerDiv"] div,
[id="Mailing:ContactaddressPickerDiv"] a {
	margin-top: 6px;
	margin-right: 8px;

}

.cubeDataGridContainer.aceDataGrid .slick-cell.link:hover{
  color: #ffffff;
  border: 1px solid #FF9800!important;
  background-color: #FF9800!important;
  border: 1px solid #ff9800;
  cursor: pointer;
}


.activitiesGrid.cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell {
  color: #ffffff;
  border: 1px solid #FF9800;
  background-color: #FF9800;
  cursor: pointer;
}

.editableLabelContainer .primaryLabel.readOnly:hover{
  background: none!important;
}

.editableLabelContainer .primaryLabel.readOnly:active{
  background: none!important;
}

.readOnlyField{
  width: 100%;
  text-indent: 20px;
  font-size: .8rem;
  padding-right: 10px;
  border-color: transparent;
  cursor: auto;
  color: #212121;
  height: 20px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0;
  line-height: 20px;
}

.customCubeContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cubeNavBar {
  min-height: 21px;
  width: 100%;
  z-index: 10;
  margin-bottom: 5px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  overflow-x: hidden;
}

.cubeNavBarList {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.cubeNavBarItem {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px;
  height: 18px;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  min-width: 110px;
}
.cubeNavBarItem a {
  white-space: nowrap;
  height: 18px;
  font-size: .7em;
  text-decoration: none;
  color: #515151;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px 2px 5px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.cubeNavBarItem a:hover {
  border-bottom: 2px solid #515151;
}
.cubeNavBarItem a:active {
  color: #FF9800;
  border-bottom: 2px solid #FF9800;
}
.cubeNavBarItem a.selected {
  color: #FF9800;
  border-bottom: 2px solid #FF9800;
  background: #ffffff;
}

.overflowMenuContainer {
  display: none;
}

.powerCubeContent {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 8px;
  margin-top: 5px;
}
.powerCubeContent::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.powerCubeContent::-webkit-scrollbar-button {
  background-color: #ffffff;
  width: 10px;
}
.powerCubeContent::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.powerCubeContent::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
.powerCubeContent::-webkit-scrollbar-thumb {
  width: 6px;
  height: 20px;
  background-color: #cccccc;
  border-radius: 3px;
}
.powerCubeContent::-webkit-scrollbar-thumb:active {
  background-color: #cccccc;
}
.powerCubeContent::-webkit-scrollbar-corner {
  background-color: #ffffff;
}
.powerCubeContent::-webkit-resizer {
  background-color: #ffffff;
}

.section {
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  min-width: 300px;
  overflow-x: hidden;
}
.section.accountSummary, .section.contactSummary {
  padding: 10px 24px 0 10px !important;
}

.accountSummary .addressComponent, .contactSummary .addressComponent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.accountSummary .addressComponent .label, .contactSummary .addressComponent .label {
  font-size: .7em;
  color: #797979;
  font-weight: 600;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
  width: 86px;
  margin-right: 10px;
}

.powerCubeContent input[disabled], .powerCubeContent input.ui-timepicker-input[disabled]{
  border-color: transparent;
}

.powerCubeContent .control input {
  position: relative!important;
}

.accountSummary .addressComponent .menuButtonContainer, .contactSummary .addressComponent .menuButtonContainer {
  width: 220px;
  height: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 10px;
  margin-top: 2px;
}
.accountSummary .addressComponent .menuButton, .contactSummary .addressComponent .menuButton {
  width: 100%;
  /* border-color: transparent;
  background-image: none;
  height: 21px;
  min-width: 10px;
  color: #212121;
  cursor: pointer; */
}
.accountSummary .addressComponent .menuButton:hover, .contactSummary .addressComponent .menuButton:hover {
  /* color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9 !important;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right; */
}
.accountSummary .addressComponent .menuButton:active, .contactSummary .addressComponent .menuButton:active {
  /* color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9 !important;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right; */
}
.accountSummary .addressComponent .menuButton:focus, .contactSummary .addressComponent .menuButton:focus {
  /* outline: none;
  color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9 !important;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right; */
}
.accountSummary .addressComponent .cubeAddress, .contactSummary .addressComponent .cubeAddress {
  font-size: .8em;
  color: #212121;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 200px;
  min-height: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
  cursor: pointer;
  line-height: 16px;
}

.notesComponent .label {
  font-size: .7em;
  color: #797979;
  font-weight: 600;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 21px;
}
.notesComponent textarea.powerCubeTextarea {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 56px !important;
  color: #212121;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
  background-color: #ffffff;
}
.notesComponent textarea.powerCubeTextarea:focus {
  outline: none;
}

.sectionHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}
.sectionHeader .headerItem {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  min-width: 180px;
  margin-bottom: 5px;
}

.editableLabelContainer {
  width: 100%;
  display: flex;
}

.editableLabelContainer + .hiddenSubSection {
  background: #ffffff;
  width: auto;
  min-width: 400px;
  z-index: 100;
  position: absolute;
  text-align: left;
  padding: 0;
  right: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 8px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.editableLabelContainer + .hiddenSubSection .componentContainer.componentContainer.subSectionItem {
  margin-bottom: 4px;
  /* padding-bottom: 6px; */
  padding-left: 0;
  padding-right: 0px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  height: auto !important;
 
}



.editableLabelContainer + .hiddenSubSection .componentContainer.componentContainer.subSectionItem.required {
	padding-left: 4px;

}
.editableLabelContainer + .hiddenSubSection .label.label {
	width: auto!important;
	max-width: 0%!important;
	max-width: 0%!important;
	flex: none!important;

}

.hiddenSubSection.detailComponents .cubeComponentContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hiddenSubSection.detailComponents .cubeComponentContainer .menuButtonContainer {
  width: 100%;
  height: 24px;
}
.hiddenSubSection.detailComponents .cubeComponentContainer .menuButton {
  width: 100%;
  /* height: 21px;
  min-width: 10px;
  padding-left: 0;
  text-indent: 5px;
  color: #212121; */
}
.hiddenSubSection.detailComponents .cubeComponentContainer la-input {
  height: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*margin-left: -50px;*/
}
.hiddenSubSection.detailComponents .cubeComponentContainer la-input input#la-input {
  /* text-indent: 6px;
  padding-right: 12px;
  cursor: auto;
  color: #212121;
  height: 20px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0;
  line-height: 20px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.addressComponent + .hiddenSubSection.detailComponents, .accountCoverageSection .hiddenSubSection.detailComponents {
  max-height: 0;
  overflow: hidden;
}
.addressComponent + .hiddenSubSection.detailComponents.open, .accountCoverageSection .hiddenSubSection.detailComponents.open {
  border-bottom: 1px dotted #515151;
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-height: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-transition-property: max-height, overflow;
  -o-transition-property: max-height, overflow;
  -webkit-transition-property: max-height, overflow;
  transition-property: max-height, overflow;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.addressComponent + .hiddenSubSection.detailComponents.open .cubeButtonContainer, .accountCoverageSection .hiddenSubSection.detailComponents.open .cubeButtonContainer {
  width: 100%;
  text-align: right;
}
.addressComponent + .hiddenSubSection.detailComponents.open .cubeButtonContainer .confirmButton, .addressComponent + .hiddenSubSection.detailComponents.open .cubeButtonContainer .cancelButton, .accountCoverageSection .hiddenSubSection.detailComponents.open .cubeButtonContainer .confirmButton, .accountCoverageSection .hiddenSubSection.detailComponents.open .cubeButtonContainer .cancelButton {
  font-size: 0.8em !important;
}
.addressComponent + .hiddenSubSection.detailComponents.open .cubeButtonContainer .cancelButton, .accountCoverageSection .hiddenSubSection.detailComponents.open .cubeButtonContainer .cancelButton {
  padding: 1px 6px !important;
}

.customCubeContainer .primaryLabel {
  font-size: .9em;
  font-weight: 600;
  color: #212121;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 8px;
}
.customCubeContainer .accountSummary .primaryLabel {
  color: #062D88;
}
.customCubeContainer .contactSummary .primaryLabel {
  color: #1876AF;
}
.customCubeContainer .subLabel, .customCubeContainer .sublabel {
  font-size: .8em;
  color: #212121;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 8px;
}
.customCubeContainer .subLabel.prompText, .customCubeContainer .sublabel.prompText {
  font-size: .7em;
  color: #797979;
}
.customCubeContainer .subLabel a, .customCubeContainer .sublabel a {
  color: #1B87c9;
  text-decoration: underline;
  cursor: pointer;
}
.customCubeContainer .subLabel a:hover, .customCubeContainer .sublabel a:hover {
  color: #FF9800;
}
.customCubeContainer .subLabel a:active, .customCubeContainer .sublabel a:active {
  color: #FF9800;
}

.editableLabelContainer .primaryLabel {
  padding-right: 20px;
  cursor: pointer;
  height: 1em;
}
.editableLabelContainer .primaryLabel.editable:hover {
  background: url("../images/pngs/cubeEditIcon-999999.png") no-repeat !important;
  background-size: 14px 14px !important;
  background-position: top right !important;
}
.editableLabelContainer .primaryLabel.editable:active {
  background: url("../images/pngs/cubeEditIcon-FF9800.png") no-repeat !important;
  background-size: 14px 14px !important;
  background-position: top right !important;
}
.editableLabelContainer .subLabel {
  padding-right: 20px;
  cursor: pointer;
}
.editableLabelContainer .subLabel.prompText {
  font-size: .7em;
  color: #797979;
}
.editableLabelContainer .subLabel:hover {
  background: url("../images/pngs/cubeEditIcon-999999.png") no-repeat !important;
  background-size: 14px 14px !important;
  background-position: top right !important;
}
.editableLabelContainer .subLabel:active {
  background: url("../images/pngs/cubeEditIcon-FF9800.png") no-repeat !important;
  background-size: 14px 14px !important;
  background-position: top right !important;
}

.detailComponents {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.componentContainer.componentContainer.subSectionItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
  min-width: 275px;
  margin-bottom: 8px;
  padding: 0px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 21px;
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.componentContainer.componentContainer.subSectionItem .label {
  min-width: 50%;
  -webkit-box-flex: 0.9;
  -moz-box-flex: 0.9;
  -webkit-flex: 0.9;
  -ms-flex: 0.9;
  flex: 0.9;
  font-size: .7em;
  color: #797979;
  font-weight: 600;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 6px;
}

.componentContainer.componentContainer.subSectionItem.singleItemCheckBox .label {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: auto;
}

.checkboxOnly .componentContainer.componentContainer.subSectionItem {
  width: 20%;
  min-width: 150px;
}

.doubleColumn .componentContainer.componentContainer.subSectionItem {
  width: 50%;
  max-width: 50%;
}
.doubleColumn .checkboxOnly .componentContainer.componentContainer.subSectionItem .label{
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 100px;
  white-space: nowrap;
}

.singleColumn .componentContainer.componentContainer.subSectionItem {
  width: 100%;
  max-width: 100%;
}
.singleColumn .checkboxOnly .componentContainer.componentContainer.subSectionItem {
  width: 33%;
  max-width: 33%;
  min-width: 140px;
}
.singleColumn .checkboxOnly .componentContainer.componentContainer.subSectionItem .label {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 100px;
  white-space: nowrap;
}

.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer input.hasDatepicker {
  /* height: 21px;
  text-indent: 2px !important;
  border-color: transparent;
  background: url("../images/pngs/datePickerIcon-999-opacity50.png") no-repeat;
  background-size: 18px 18px !important;
  background-position: 7px 0px !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #212121; */
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer input.hasDatepicker:hover {
  /* border-bottom: 1px solid #1B87c9;
  background: url("../images/pngs/datePickerIcon-999-opacity50.png") no-repeat;
  background-size: 18px 18px !important;
  background-position: 7px 0px !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  height: 21px; */
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer input.hasDatepicker:focus {
  /* background: url("../images/pngs/datePickerIcon-blue.png") no-repeat;
  background-size: 18px 18px !important;
  background-position: 7px 0px !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  height: 21px;
  text-indent: 32px !important; */
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButtonContainer {
  width: 100%;
  height: 20px;
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton {
  /* width: 100%;
  opacity: unset;
  border-color: transparent;
  background-image: none;
  height: 21px;
  min-width: 10px;
  padding-left: 0;
  text-indent: 5px;
  color: #212121;
  cursor: pointer;
  padding-left: 20px; */
}
/* .subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton:hover {
  color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right;
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton:active {
  color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right;
} */
/* .subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton:focus {
  outline: none;
  color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right;
} */
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton[disabled] { 
  border-color: transparent;
  background-image: none;
  cursor: auto;
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton[disabled]:hover, .subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer .menuButton[disabled]:active {
  border-color: transparent !important;
  background-image: none;
  color: #212121;
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer la-input {
  /* height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left:10px; */
}
.subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer la-input input#la-input {
  /* text-indent: 6px;
  padding-right: 10px;
  border-color: transparent;
  cursor: auto;
  color: #212121;
  height: 20px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0;
  line-height: 20px; */
  
}
/* .subSection .componentContainer.componentContainer.subSectionItem .cubeComponentContainer la-input input#la-input:hover {
  border-bottom: 1px solid #1B87c9;
}
.subSection .componentContainer.componentContainer.subSectionItem:hover {
  cursor: auto;
}
.subSection .componentContainer.componentContainer.subSectionItem:hover .cubeComponentContainer la-input input#la-input {
  border-bottom: 1px solid #1B87c9;
} */
/* .subSection .componentContainer.componentContainer.subSectionItem:hover .cubeComponentContainer .menuButton {
  color: #1B87c9;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #1B87c9;
  background-color: #ffffff;
  background: url("../images/pngs/menuButtonArrow-1976D2.png") no-repeat;
  background-position: center right;
  cursor: pointer;
}
.subSection .componentContainer.componentContainer.subSectionItem:hover .cubeComponentContainer .menuButton[disabled] {
  border-color: transparent !important;
  background-image: none;
  color: #212121;
}
.subSection .componentContainer.componentContainer.subSectionItem:hover .cubeComponentContainer .menuButton[disabled]:hover, .subSection .componentContainer.componentContainer.subSectionItem:hover .cubeComponentContainer .menuButton[disabled]:active {
  border-color: transparent !important;
  background-image: none;
  color: #212121;
}
.subSection .componentContainer.componentContainer.subSectionItem:hover .cubeComponentContainer .cubeComponentContainer input.hasDatepicker {
  border-bottom: 1px solid #1B87c9 !important;
  background: url("../images/pngs/datePickerIcon-blue.png") no-repeat;
  background-size: 18px 18px !important;
  background-position: 7px 0px !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  height: 21px;
  text-indent: 32px !important;
} */

[id="accountContactRelationCubeContainer"] [id="showInactiveLabel"] {
	font-weight: normal!important;
	font-size: .8rem!important;
	color: #484848!important;
	margin-left: 4px!important;

}

la-input[id="filterTextArea"] {
	margin-bottom: 8px;

}

la-input[id="filterTextArea"] input {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    background-image: url("../images/pngs/icon-filter--default.png");
    background-repeat: no-repeat;
    background-position: center left 4px;
    padding: 2px 16px 2px 24px;
	cursor: pointer;
	

}



la-input[id="filterTextArea"] input:hover {
    border: 1px solid #8da7c5;
    background-image: url("../images/pngs/icon-filter--hover.png");
    background-color: #fff
}
la-input[id="filterTextArea"] input:active,
la-input[id="filterTextArea"] input:focus {
    border: 1px solid #2776bd;
    background-image: url("../images/pngs/icon-filter--active.png");
    background-color: #fff
}


.subSection.cubeDataGridContainer.aceDataGrid .slick-cell .fakeDatePicker {
	background-color: #FFFFFF;
	cursor: pointer;

}

.subSection.cubeDataGridContainer.aceDataGrid .slick-cell input.hasDatepicker, input[type="text"].hasDatepicker {
	height: 20px;
}


.subSection.cubeDataGridContainer.aceDataGrid .slick-cell .ui-autocomplete-input,
.subSection.cubeDataGridContainer.aceDataGrid .slick-cell div.required{
	white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    background-image: url("../images/pngs/icon-search--default.png");
    background-repeat: no-repeat;
    background-position: center left 4px;
    padding: 2px 16px 2px 24px!important;
    background-color: #fff!important;
    line-height: 1.3;
    height: 20px;
    display: block;
	border: 1px solid;
	color: #484848;
    border: 1px solid #b7bfc8;
    border-radius: 4px;
    font-family: "Roboto",sans-serif!important;
    font-size: .8rem!important;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box

	
}

.subSection.cubeDataGridContainer.aceDataGrid .slick-cell .ui-autocomplete-input:hover,
.subSection.cubeDataGridContainer.aceDataGrid .slick-cell div.required:hover{
    border: 1px solid #8da7c5;
    background-image: url("../images/pngs/icon-search--hover.png");
    background-color: #fff
}

.subSection.cubeDataGridContainer.aceDataGrid .slick-cell .ui-autocomplete-input:active,
.subSection.cubeDataGridContainer.aceDataGrid .slick-cell div.required:active,
.subSection.cubeDataGridContainer.aceDataGrid .slick-cell .ui-autocomplete-input:focus,
.subSection.cubeDataGridContainer.aceDataGrid .slick-cell div.required:focus{
    border: 1px solid #2776bd;
    background-image: url("../images/pngs/icon-search--active.png");
    background-color: #fff
}


.subSection.cubeDataGridContainer.aceDataGrid .slick-cell la-input.required  {
    border: none !important;
	padding:0;
}


.subSection.cubeDataGridContainer.aceDataGrid .slick-cell la-input.required .ui-autocomplete-input {
    border-left: 4px solid #d0021b !important;
}

.subSection.cubeDataGridContainer.aceDataGrid .slick-cell div.required {
    border-left: 4px solid #d0021b !important;
}




.headerAccountLogoContainer {
  min-height: 50px;
  max-width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.headerAccountLogoContainer .accountLogo {
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-position: top left !important;
}

.userImageContainer {
  min-height: 60px;
}
.userImageContainer .userImage {
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-position: top left !important;
}

.singleColumn .accountLogo {
  background-position: top left !important;
}
.singleColumn .useImage {
  margin-top: 5px;
  background-position: center center !important;
}

span.cubePromptText {
  font-size: 11.8px;
  font-style: italic;
  color: #797979;
  height: 18px;
  vertical-align: bottom;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cubeAddress span {
  font-size: 11.8px;
  font-style: italic;
  color: #797979;
  height: 18px;
  vertical-align: bottom;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
}

.PDFContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}
.PDFContainer .label {
  font-size: 11.8px;
  font-style: italic;
  color: #797979;
  height: 18px;
  vertical-align: bottom;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  min-width: 260px;
}

.packetItem {
  font-size: 12.8px;
  padding-right: 30px;
  margin-right: 15px;
  height: 18px;
  vertical-align: bottom;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 3px;
}

.fullWidthComponent {
  width: 100%;
}

#dropZone {
  box-sizing: border-box;
}
#dropZone .section {
  padding: 10px 24px 0 10px;
  margin-bottom: 5px;
  cursor: move;
  background: url("../images/pngs/dragHandle-999-opacity50.png") no-repeat;
  background-size: 24px 20px !important;
  background-position: center right !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#dropZone .section:hover {
  background: url("../images/pngs/dragHandle-FF9800.png") no-repeat;
  background-size: 24px 20px !important;
  background-position: center right !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#dropZone .section.ui-sortable-helper {
  background-color: #ffffff;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
#dropZone .section.ui-sortable-placeholder {
  background-color: #e8e8e8;
  visibility: visible !important;
  background-image: none;
}
#dropZone .section.ui-sortable-placeholder:hover {
  background-color: #000 !important;
}

.subSection:not(.aceDataGrid) {
  border-bottom: 1px dotted #FF9800;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.subSection:last-of-type:not(.aceDataGrid)  {
  border-bottom: 0px solid #FF9800;
  margin-bottom: 0px;
}
.subSection.cubeDataGridContainer {
	
  padding-bottom: 0;
  margin-bottom: 10px;
}
.subSection.cubeDataGridContainer.aceDataGrid .ui-state-default.slick-header-column {
  font-size: 11.2px !important;
}

.interestDisplay {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.interestContainer.subSectionItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: auto;
  margin-bottom: 8px;
  padding-right: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.interestContainer.subSectionItem .name {
  font-size: 0.8em;
  white-space: nowrap;
  color: #1B87c9;
}
.interestContainer.subSectionItem .type {
  font-size: 0.8em;
  white-space: nowrap;
  color: #797979;
  padding-left: 5px;
}

.multiSelectContainer {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px 10px 8px;
  margin: 10px 0;
  border-bottom: 1px dotted #515151;
  border-top: 1px dotted #515151;
}
.multiSelectContainer .multiSelect {
  height: 236px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}
.multiSelectContainer .multiSelectButtonContainer {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  left: 0;
  top: 0;
}
.multiSelectContainer .multiSelectListContainer ul li {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.multiSelectContainer .multiSelectListContainer.availableCol {
  height: 100%;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.multiSelectContainer .multiSelectListContainer.selectedCol {
  height: 100%;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.multiSelectContainer .multiSelectButtonContainer button:first-child {
  margin-top: 58px;
}

.packetItemLink {
  background: url("../images/pngs/downloadIcon-999-opacity50.png") no-repeat;
  width: 18px;
  height: 18px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
.packetItemLink:hover {
  background: url("../images/pngs/downloadIcon-999.png") no-repeat;
  width: 18px;
  height: 18px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.packetItemLink:active {
  background: url("../images/pngs/downloadIcon-ff9800.png") no-repeat;
  width: 18px;
  height: 18px;
  background-size: 16px 16px !important;
  background-position: center center !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.quickActivitySection .buttoncontainer.buttonContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  padding-top: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.quickActivityButton {
  margin-right: 10px;
}
.quickActivityButton:last-of-type {
  margin-right: 0;
}

.makeACall {
  background: url("../images/pngs/callOutGoingIcon-999-opacity50.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.makeACall:hover {
  background: url("../images/pngs/callOutGoingIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.makeACall:active {
  background: url("../images/pngs/callOutGoingIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.makeACall:focus {
  outline: none;
}

.sendBVM {
  background: url("../images/pngs/voiceBlastIcon-999999.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: .5;
}
.sendBVM:hover {
  background: url("../images/pngs/voiceBlastIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.sendBVM:active {
  background: url("../images/pngs/voiceBlastIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.sendBVM:focus {
  outline: none;
}

.addEvent {
  background: url("../images/pngs/meetingIcon-999-opacity50.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.addEvent:hover {
  background: url("../images/pngs/meetingIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.addEvent:active {
  background: url("../images/pngs/meetingIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.addEvent:focus {
  outline: none;
}

.addInterest {
  background: url("../images/pngs/interestIconAdd-999.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: .5;
}
.addInterest:hover {
  background: url("../images/pngs/interestIconAdd-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.addInterest:active {
  background: url("../images/pngs/interestIconAdd-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.addInterest:focus {
  outline: none;
}

.logInteraction {
  background: url("../images/pngs/LAI_Icon-999-opacity50.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.logInteraction:hover {
  background: url("../images/pngs/LAI_Icon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.logInteraction:active {
  background: url("../images/pngs/LAI_Icon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.logInteraction:focus {
  outline: none;
}

.section .emailButton, .cubeGridEmail {
  background: url("../images/pngs/context-mail-icon-999.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: .5;
}
.section .emailButton:hover, .cubeGridEmail:hover {
  background: url("../images/pngs/context-mail-icon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.section .emailButton:active, .cubeGridEmail:active {
  background: url("../images/pngs/context-mail-icon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.section .emailButton:focus, .cubeGridEmail:focus {
  outline: none;
}

.cubeGridEmail {
  display: block;
}

.slick-row:hover .slick-cell .cubeGridEmail {
  background: url("../images/pngs/context-mail-icon-fff.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.slick-row:active .slick-cell .cubeGridEmail {
  background: url("../images/pngs/context-mail-icon-fff.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.slick-cell.selected .cubeGridEmail, .slick-row:hover .selected .cubeGridEmail {
  background: url("../images/pngs/context-mail-icon-fff.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.manageEmail {
  background: url("../images/pngs/emailSettings-999999.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: .5;
}
.manageEmail:hover {
  background: url("../images/pngs/emailSettings-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.manageEmail:active {
  background: url("../images/pngs/emailSettings-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.manageEmail:focus {
  outline: none;
}

.headerItem.actionButtons.actionButtons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  min-width: 70px;
}

.mapButton {
  background: url("../images/pngs/mapIcon-999-opacity50.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: block;
  margin: 3px 10px 0 10px;
}
.mapButton:hover {
  background: url("../images/pngs/mapIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.mapButton:active {
  background: url("../images/pngs/mapIcon-FF9800.png") no-repeat !important;
  height: 20px !important;
  width: 20px !important;
  background-size: 20px 20px !important;
  background-position: center center !important;
  border: none !important;
  padding: 0;
  cursor: pointer;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.mapButton:focus {
  outline: none;
}

.cubeFaceFooter {
  width: 100%;
}
.cubeFaceFooter .buttonContainer.buttonContainer {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  margin-top: 5px;
  height: auto;
  padding-left: 0px;
}
.cubeFaceFooter .confirmButton, .cubeFaceFooter .cancelButton {
  font-size: 0.8em !important;
}
.cubeFaceFooter .cancelButton {
  padding: 1px 6px !important;
}

a.detailsLink {
  font-size: .7em;
  /*margin: 4px 6px 10px 6px;*/
  color: #1B87c9;
  opacity: .8;
  text-decoration: none;
  cursor: pointer;
  height: 1em;
}
a.detailsLink:hover {
  text-decoration: underline;
  opacity: 1;
}
a.detailsLink:active {
  color: #FF9800;
  text-decoration: underline;
  opacity: 1;
}

.subSection.cubeDataGridContainer.addRowGrid {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subSection.cubeDataGridContainer.ui-widget {
  font-size: 1em;
}

.sectionPadding {
  padding: 10px 10px 0 10px;
}
.sectionPadding .componentContainer.componentContainer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 33%;
}
.sectionPadding .componentContainer.componentContainer .menuButtonContainer {
  width: 100%;
  /* height: 21px; */
}
.sectionPadding .componentContainer.componentContainer .menuButton {
  width: 100%;
  /* height: 21px;
  min-width: 10px;
  padding-left: 0;
  text-indent: 5px;
  color: #212121; */
}
.sectionPadding .componentContainer.componentContainer la-input {
  /* height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}
.sectionPadding .componentContainer.componentContainer la-input input#la-input {
  /* text-indent: 6px;
  padding-right: 9px;
  cursor: auto;
  color: #212121;
  height: 20px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 0;
  line-height: 20px; */
}
.sectionPadding .componentContainer.componentContainer la-input input#la-input:hover, .sectionPadding .componentContainer.componentContainer la-input input#la-input:active, .sectionPadding .componentContainer.componentContainer la-input input#la-input:focus {
  /* color: #1B87c9; */
}
.sectionPadding .sectionHeader {
  width: 100%;
}
.sectionPadding .sectionHeaderLabelContainer {
  margin-bottom: 10px;
}
.sectionPadding .sectionHeaderButtonBar {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.sectionPadding la-label {
  display: block;
  font-size: .8em;
  color: #444444;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subSectionItem .cubeComponentContainer {
  flex: 1;
}

.cubeDataGridContainer.aceDataGrid.subSection {
  padding-bottom: 0px;
}
/* .cubeDataGridContainer.aceDataGrid .ui-state-default.slick-header-column {
  color: #1B87c9;
  border: 1px solid #eeeeee;
  border-left: 0px;
  background: #eeeeee;
  background-image: none;
  font-weight: 600;
  font-size: 11.52px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
} */
/* .cubeDataGridContainer.aceDataGrid .ui-state-default.slick-header-column:hover {
  color: #ffffff;
  border: 1px solid #797979;
  border-left: 0px;
  background: #797979;
  font-weight: 600;
  cursor: pointer;
} */
/* .cubeDataGridContainer.aceDataGrid .ui-state-default.slick-header-column:active {
  color: #ffffff;
  border: 1px solid #1B87c9;
  border-left: 0px;
  background: #1B87c9;
  font-weight: 600;
  cursor: pointer;
}
.cubeDataGridContainer.aceDataGrid .ui-state-default {
  color: #1B87c9;
  border: 1px solid #eeeeee;
  border-left: 0px;
  background: #eeeeee;
  background-image: none;
  font-weight: 600;
  cursor: pointer;
}
.cubeDataGridContainer.aceDataGrid .slick-cell {
  color: #333333;
  border: 1px solid transparent;
  border-right: 1px dotted #eeeeee;
  border-bottom: 1px dotted #eeeeee;
  background-color: #ffffff;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  padding: 1px 2px 2px 2px;
  margin: 0;
  cursor: default;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
.cubeDataGridContainer.aceDataGrid .slick-cell .radio .control-indicator {
  top: 3px;
  left: 4px;
}
.cubeDataGridContainer.aceDataGrid .slick-cell span.fakeACEMenuButton, .cubeDataGridContainer.aceDataGrid .slick-cell span.fakeTextInput {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  height: 21px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #515151;
  background-position: center right !important;
  margin-top: -1px;
  padding-top: 1px;
  text-indent: 1px;
  padding-right: 10px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cubeDataGridContainer.aceDataGrid .slick-cell .fakeDatePicker, .cubeDataGridContainer.aceDataGrid .slick-cell .fakeAutoComplete {
  padding-left: 22px;
  height: 20px;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ffffff !important;
  background-position: 0% 0px;
} */
.cubeDataGridContainer.aceDataGrid .slick-cell.editable {
  z-index: 2;
}
/* .cubeDataGridContainer.aceDataGrid .slick-cell.editable .menuButtonContainer {
  height: 20px;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable .menuButton {
  font-size: 1em !important;
  color: #ffffff;
  border-color: #1B87c9;
  border-bottom-color: #ffffff !important;
  height: 20px;
  background: url("../images/pngs/menuButtonArrow-white.png") no-repeat;
  background-position: center right;
  padding-left: 0px;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  padding-right: 8px !important;
  cursor: pointer;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable .menuButton:hover {
  border-bottom: 1px solid #ffffff !important;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable ul.aceMenu li {
  font-size: 12.8px;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable .aceMenuWrapper.open ul.aceMenu li.selected {
  border: 0px solid #ffffff;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable .aceMenuWrapper.open ul.aceMenu li.selected:hover {
  border: 0px solid #ffffff;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.ui-autocomplete-input {
  background: url("../images/pngs/search-glass-ffffff.png") no-repeat;
  background-size: 18px 18px;
  background-position: center left;
  background-color: #1B87c9;
  border: 0px solid #ffffff;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
  font-size: 12.8px !important;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  padding-left: 20px;
  text-indent: 0;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.ui-autocomplete-input:focus {
  background: url("../images/pngs/search-glass-ffffff.png") no-repeat;
  background-size: 18px 18px;
  background-position: center left;
  background-color: #1B87c9 !important;
  border: 0px solid #ffffff;
  padding-right: 20px;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
  outline: none;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.ui-autocomplete-input::moz-selection {
  color: #ffffff;
  background-color: #FF9800;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.ui-autocomplete-input::selection {
  color: #ffffff;
  background-color: #FF9800;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.editor-text {
  background-color: #1B87c9;
  border: 0px solid #ffffff;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
  font-size: 12.8px !important;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4px;
  padding-left: 0px;
  text-indent: 0;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.editor-text:focus {
  background-color: #1B87c9 !important;
  border: 0px solid #ffffff;
  padding-left: 0px;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
  outline: none;
} */
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.editor-text::moz-selection {
  color: #ffffff;
  background-color: #FF9800;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.editable input.editor-text::selection {
  color: #ffffff;
  background-color: #FF9800;
}
/* .cubeDataGridContainer.aceDataGrid .slick-cell.editable la-input #la-input-underline {
  border-bottom: 2px solid #ffffff;
}
.cubeDataGridContainer.aceDataGrid .slick-cell a.cubeGridContainerLink {
  color: #1B87c9;
}
.cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell {
  color: #ffffff;
  border: 1px solid #797979;
  background-color: #797979;
}
.cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell span.fakeACEMenuButton {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  background: url("../images/pngs/menuButtonArrow-white.png") no-repeat !important;
  background-position: center right !important;
}
.cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell span.fakeTextInput {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  background-position: center right !important;
}
.cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell a.cubeGridContainerLink {
  color: #ffffff;
}
.cubeDataGridContainer.aceDataGrid .slick-row:active .slick-cell {
  color: #ffffff;
  border: 1px solid #1B87c9;
  background-color: #1B87c9;
  padding: 1px 2px 2px 2px;
}
.cubeDataGridContainer.aceDataGrid .slick-row:active .slick-cell span.fakeACEMenuButton {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background: url("../images/pngs/menuButtonArrow-white.png") no-repeat;
  background-position: center right;
}
.cubeDataGridContainer.aceDataGrid .slick-row:active .slick-cell span.fakeTextInput {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  background-position: center right !important;
}
.cubeDataGridContainer.aceDataGrid .slick-row:active .slick-cell a.cubeGridContainerLink {
  color: #ffffff;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.selected, .cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell.selected {
  color: #ffffff;
  border: 1px solid #1B87c9;
  background-color: #1B87c9;
  padding: 1px 2px 2px 2px;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.selected span.fakeACEMenuButton, .cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell.selected span.fakeACEMenuButton {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background: url("../images/pngs/menuButtonArrow-white.png") no-repeat;
  background-position: center right;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.selected span.fakeTextInput, .cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell.selected span.fakeTextInput {
  display: block;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  min-width: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  background-position: center right !important;
}
.cubeDataGridContainer.aceDataGrid .slick-cell.selected input.hasDatepicker, .cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell.selected input.hasDatepicker {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url("../images/pngs/datePickerIcon-white.png") no-repeat;
  background-size: 18px 18px;
  background-position: 0% 2px;
  background-color: #1B87c9;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
  font-size: 12.8px !important;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
}
.cubeDataGridContainer.aceDataGrid .slick-cell.selected input.hasDatepicker:focus, .cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell.selected input.hasDatepicker:focus {
  background: url("../images/pngs/datePickerIcon-white.png") no-repeat;
  background-size: 18px 18px;
  background-position: 0% 2px;
  background-color: #1B87c9 !important;
  border-bottom: 1px solid #ffffff !important;
  color: #ffffff !important;
  width: -moz-calc(100% - 8px);
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
}
.cubeDataGridContainer.aceDataGrid .slick-cell.selected a.cubeGridContainerLink, .cubeDataGridContainer.aceDataGrid .slick-row:hover .slick-cell.selected a.cubeGridContainerLink {
  color: #ffffff;
}
.cubeDataGridContainer.aceDataGrid .slick-row:hover .fakeDatePicker, .cubeDataGridContainer.aceDataGrid .slick-row:active .fakeDatePicker, .cubeDataGridContainer.aceDataGrid .slick-row.active .fakeDatePicker {
  padding-left: 22px;
  background: url("../images/pngs/datePickerIcon-white.png") no-repeat;
  background-size: 18px 18px;
  background-position: 0% 2px;
  height: 20px;
  display: block;
  background-position: 0% 0px;
}
.cubeDataGridContainer.aceDataGrid .slick-row:hover .fakeAutoComplete, .cubeDataGridContainer.aceDataGrid .slick-row:active .fakeAutoComplete, .cubeDataGridContainer.aceDataGrid .slick-row.active .fakeAutoComplete {
  padding-left: 22px;
  background: url("../images/pngs/search-glass-ffffff.png") no-repeat;
  background-size: 18px 18px;
  background-position: center left;
  height: 20px;
  display: block;
  border-bottom: 1px solid #ffffff !important;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent span.fakeACEMenuButton, .cubeDataGridContainer.aceDataGrid.inactiveComponent span.fakeTextInput {
  display: block;
  padding-right: 0px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  background-image: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: unset;
  -o-transition-timing-function: unset;
  -webkit-transition-timing-function: unset;
  transition-timing-function: unset;
  border-bottom: none !important;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .fakeDatePicker, .cubeDataGridContainer.aceDataGrid.inactiveComponent .fakeAutoComplete {
  padding-left: 0px;
  background-position: 0% 0px;
  background-image: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: unset;
  -o-transition-timing-function: unset;
  -webkit-transition-timing-function: unset;
  transition-timing-function: unset;
  border-bottom: none !important;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-row:hover .slick-cell span.fakeACEMenuButton {
  border-bottom: none !important;
  background-image: none !important;
  padding-left: 0px;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-row:hover .slick-cell span.fakeAutoComplete {
  border-bottom: none !important;
  background-image: none !important;
  padding-left: 0px;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-row:active .slick-cell span.fakeACEMenuButton {
  border-bottom: none !important;
  background-image: none !important;
  padding-left: 0px;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-row:active .slick-cell span.fakeAutoComplete {
  border-bottom: none !important;
  background-image: none !important;
  padding-left: 0px;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-cell.selected span.fakeACEMenuButton, .cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-row:hover .slick-cell.selected span.fakeACEMenuButton {
  border-bottom: none !important;
  background-image: none !important;
  padding-left: 0px;
}
.cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-cell.selected span.fakeAutoComplete, .cubeDataGridContainer.aceDataGrid.inactiveComponent .slick-row:hover .slick-cell.selected span.fakeAutoComplete {
  border-bottom: none !important;
  background-image: none !important;
  padding-left: 0px;
} */

.cubeComponentContainer la-input input#la-input:disabled {
  width: 100%;
  opacity: unset;
}
.cubeComponentContainer la-input input#la-input:disabled:hover, .cubeComponentContainer la-input input#la-input:disabled:active {
  color: #515151;
}

.powerCubeButtonContainer button.applyToSelected[id="QuanServicesDelete"], .powerCubeButtonContainer button.applyToSelected.delete, .powerCubeButtonContainer button.applyToSelected[id="DeleteButton"], .powerCubeButtonContainer applyToSelected.cubeDeleteButton {
  color: #F24458 !important;
  border-color: #F24458 !important;
}
.powerCubeButtonContainer button.applyToSelected[id="QuanServicesDelete"]:hover, .powerCubeButtonContainer button.applyToSelected[id="QuanServicesDelete"]:active, .powerCubeButtonContainer button.applyToSelected.delete:hover, .powerCubeButtonContainer button.applyToSelected.delete:active, .powerCubeButtonContainer button.applyToSelected[id="DeleteButton"]:hover, .powerCubeButtonContainer button.applyToSelected[id="DeleteButton"]:active, .powerCubeButtonContainer applyToSelected.cubeDeleteButton:hover, .powerCubeButtonContainer applyToSelected.cubeDeleteButton:active {
  color: #ffffff !important;
  background-color: #F24458 !important;
}
.powerCubeButtonContainer button.applyToSelected[id="QuanServicesDelete"][disabled], .powerCubeButtonContainer button.applyToSelected.delete[disabled], .powerCubeButtonContainer button.applyToSelected[id="DeleteButton"][disabled], .powerCubeButtonContainer applyToSelected.cubeDeleteButton[disabled] {
  color: #F24458 !important;
  border-color: #F24458 !important;
}
.powerCubeButtonContainer button.applyToSelected[id="QuanServicesDelete"][disabled]:hover, .powerCubeButtonContainer button.applyToSelected[id="QuanServicesDelete"][disabled]:active, .powerCubeButtonContainer button.applyToSelected.delete[disabled]:hover, .powerCubeButtonContainer button.applyToSelected.delete[disabled]:active, .powerCubeButtonContainer button.applyToSelected[id="DeleteButton"][disabled]:hover, .powerCubeButtonContainer button.applyToSelected[id="DeleteButton"][disabled]:active, .powerCubeButtonContainer applyToSelected.cubeDeleteButton[disabled]:hover, .powerCubeButtonContainer applyToSelected.cubeDeleteButton[disabled]:active {
  color: #F24458 !important;
  background-color: transparent !important;
  border-color: #F24458 !important;
}

.singleColumn .powerCubeButtonContainer button[id="QuanServicesDelete"].applyToSelected, .singleColumn .powerCubeButtonContainer button[id="QuanServicesEdit"].applyToSelected, .singleColumn .powerCubeButtonContainer button[id="QuantServicesAdd"].applyToSelected {
  width: 62px !important;
}

.section .collapsibleContainer {
  margin-top: 6px;
}
.section la-input label, .section la-textarea label, .section la-lookup label, .section la-label {
  font-weight: 600;
  font-size: 12.8px;
  color: #797979;
}

button#RemoveFile, button#AddFile, #AddRecipent, #DeleteRecipent {
  border: 0px solid transparent !important;
  background-color: #797979 !important;
  opacity: .6;
  width: 30px;
  border-radius: 0px;
  height: 28px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 1px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
button#RemoveFile:hover, button#AddFile:hover, #AddRecipent:hover, #DeleteRecipent:hover {
  opacity: 1;
}
button#RemoveFile:active, button#AddFile:active, #AddRecipent:active, #DeleteRecipent:active {
  background-color: #FF9800 !important;
  opacity: 1;
}
button#RemoveFile:focus, button#AddFile:focus, #AddRecipent:focus, #DeleteRecipent:focus {
  outline: none;
}

/** For contact affiliations grid **/

.aceDataGrid .slick-cell .role-cell {
    cursor: pointer;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;	

}

[id="accountContactRelationCubeContainer"] [id="tableContainer"] {
 	flex: 1;
	display: flex;
	flex-direction: column;
}

[id="accountContactRelationCubeContainer"] [id="tableContainer"] .section.accountSummary, 
[id="accountContactRelationCubeContainer"] [id="tableContainer"] .section.contactSummary {
	flex: 1;
	display: flex;
	flex-direction: column;
}


[id="accountContactRelationCubeContainer"] [id="tableContainer"] .section.accountSummary .sectionHeader.accountHeader, 
[id="accountContactRelationCubeContainer"] [id="tableContainer"] .section.contactSummary .sectionHeader.accountHeader{
	flex: 1;
	display: flex;
	flex-direction: column;
}

[id="accountContactRelationCubeContainer"] [id="tableContainer"] .section.accountSummary .sectionHeader.accountHeader .headerItem.headerTitleContainer, 
[id="accountContactRelationCubeContainer"] [id="tableContainer"] .section.contactSummary .sectionHeader.accountHeader .headerItem.headerTitleContainer{
	flex: 1;
	display: flex;
	flex-direction: column;
}



/*********************************************************************************************************************
    power cube styling ends 
*********************************************************************************************************************/
.acePlugins {
  /*======== Mixins ========*/
  /*======== Global Style ========*/
}
.acePlugins * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}
.acePlugins .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.acePlugins .hide {
  display: none !important;
}
.acePlugins .tableView {
  -webkit-overflow-scrolling: touch;
  width:100%;
}
.acePlugins .tableView .tableOuterWrapper {
  overflow-x: auto;
}
.acePlugins .table.desktopView .editIcon {
  background-image: url(../icons/editBlue.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.acePlugins .table.desktopView .tableWrapper {
  transition: all 0.3s ease-in-out;
}
.acePlugins .table.desktopView .tableWrapper:not(.editMode) .editIcon {
  transition: all 0.3s ease-in-out;
}
.acePlugins .table.desktopView .tableWrapper:not(.editMode) .editHeader,
.acePlugins .table.desktopView .tableWrapper:not(.editMode) .editIcon {
  width: 0px !important;
  height: 0px !important;
  transition: all 0.3s ease-in-out;
  padding: 0 0px !important;
  border: none !important;
  background-size: 0px !important;
}
.acePlugins .table.desktopView:tablecolumnheadercell.editHeader:not(.editMode) {
  display: none !important;
}
.acePlugins .table.desktopView .editHeader .editSpacer {
  width: 24px;
  height: 18px;
}
.acePlugins .table.desktopView .tableWrapper.editMode .editHeader {
  width: 40px !important;
  max-width: 40px !important;
  transition: all 0.3s ease-in-out;
}
.acePlugins .table.desktopView .tableWrapper.editMode .editIcon {
  width: 40px !important;
  height: 20px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.acePlugins .table.desktopView .tableRow.dirty {
  background-color: #cfe3f3 !important;
}
.acePlugins .table.desktopView .tableTitleArea {
  padding: 0px 0px 12px 0px;
}
.acePlugins .table.desktopView .tableTitleArea .titleContainer {
  float: left;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}
.acePlugins .table.desktopView .tableTitleArea .titleContainer .listTitle {
  font-weight: 700;
  font-size: 22px;
  color: #2776bd;
  margin-right: 8px;
}
.acePlugins .table.desktopView .tableTitleArea .toggleEditMode {
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
  background-image: url("../icons/edit_212121.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 11px center;
  border-radius: 16px;
  color: #212121;
  height: 22px;
  margin-top: 16px;
  text-indent: 20px;
  padding: 0px 12px;
  cursor: pointer;
}
.acePlugins .table.desktopView .tableTitleArea .toggleEditMode.active {
  border: 1px solid #cfe3f3;
  background-color: #cfe3f3;
  color: #2776bd;
  background-image: url("../icons/edit_2776bd.svg");
}
.acePlugins .table.desktopView .tableWrapper {
  width: 100%;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  clear: both;
  display: table;
  overflow: hidden;
  border-top: 1px solid #eee;
  table-layout: fixed;
  border: 1px solid #979797;
}
.acePlugins .table.desktopView .tableHeaderRow {
  width: 100%;
  background: #ccc;
  display: table-row;
}
.acePlugins
  .table.desktopView
  .tableHeaderRow.removeAfter
  .tableColumnHeaderCell:last-child::after {
  display: none;
}
.acePlugins .table.desktopView .tableHeaderRow .tableColumnHeaderCell {
  position: relative;
  z-index: 100;
  padding: 2px;
  display: table-cell;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #eee;
  font-weight: 600;
  height: 24px;
  white-space: nowrap;
}
.acePlugins .table.desktopView .tableHeaderRow .tableColumnHeaderCell .label {
  padding: 0;
  color: #1b87c9;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  border: none;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
  vertical-align: middle;
}
.acePlugins .table.desktopView .tableHeaderRow .tableColumnHeaderCell .upArrow {
  opacity: 0;
  position: absolute;
  right: 8px;
  top: 10px;
  background-image: url(../icons/upArrow.png);
  width: 10px;
  height: 5px;
}
.acePlugins
  .table.desktopView
  .tableHeaderRow
  .tableColumnHeaderCell.descendingSort
  .upArrow {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 1;
}
.acePlugins
  .table.desktopView
  .tableHeaderRow
  .tableColumnHeaderCell.ascendingSort
  .upArrow {
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.acePlugins
  .table.desktopView
  .tableHeaderRow
  .tableColumnHeaderCell:last-child::after {
  content: "";
  width: 100px;
  background: #eee;
  position: absolute;
  right: -100px;
  top: 0;
  height: 35px;
  z-index: 99;
  display: none;
}
.acePlugins .table.offline .tableTitleArea .titleContainer .toggleEditMode {
  opacity: 0.5;
  cursor: default;
}
.acePlugins .table.desktopView .tableRowHeaderCell {
  position: relative;
  z-index: 100;
  padding: 2px;
  display: table-cell;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #eee;
  font-weight: 600;
  height: 24px;
  white-space: nowrap;
}
.acePlugins .table.desktopView .tableRowHeaderCell .label {
  padding: 0;
  color: #1b87c9;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border: none;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.acePlugins .tableView .table.desktopView .tableWrapper .tableRow {
  display: table-row;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.acePlugins .tableView .table.desktopView .tableWrapper .tableRow.selected {
  background-color: #eee;
}
.acePlugins .tableView .table.desktopView .tableWrapper .tableRow:hover {
  background-color: #757575;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow:hover
  .columnValue,
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow:hover
  .labelValue {
  color: #ffffff !important;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow:hover
  .editIcon {
  background-image: url(../icons/editWhite.png) !important;
  background-size: 20px;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.acePlugins .tableView .table.desktopView .tableWrapper .tableRow .editIcon {
  background-image: url(../icons/editBlue.png) !important;
  background-size: 20px;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .dataGridHoverCell {
  cursor: pointer;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .dataGridHoverCell
  a.labelValue {
  text-decoration: none !important;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .dataGridHoverCell
  a.labelValue:hover {
  color: #ffffff !important;
  cursor: pointer;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .dataGridHoverCell:hover {
  background-color: #f09747;
  color: #ffffff !important;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .dataGridHoverCell:hover
  .labelValue {
  color: #ffffff !important;
  cursor: pointer;
}
.acePlugins .table.desktopView .tableRow .columnValue {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4px;
  color: #515151;
  overflow: hidden;
  text-overflow: ellipsis;
  display: table-cell;
  vertical-align: middle;
  line-height: 22px;
  height: 22px;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

[title]:hover:after {
  font-size:12pt;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .columnValue:last-of-type
  .label {
  border-bottom: none;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .columnValue
  .labelValue {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  color: #6c6c6c;
  white-space: nowrap;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow
  .columnValue
  .label {
  font-size: 0.8rem;
  border: none;
  margin: 0;
  display: none;
  white-space: nowrap;
  padding: 0 2px;
  height: 22px;
  align-items: center;
}
.acePlugins
  .tableView
  .table.desktopView
  .tableWrapper
  .tableRow.formWrapperRow::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101;
}

/* Custom Address line styling */

.addressField {
  width: 100%;
}

.addressLine {
  padding-bottom:10px;
}

.doubleColumn .componentContainer.componentContainer.subSectionItem {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
}