/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body, html {
  width: 100%;
  height: 100%;
}

.mergeUtilityWrapper {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mergeUtilityWrapper .headerPanelContainer {
  width: 100%;
  height: 44px;
  display: block;
  background-color: #1B87c9;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 11;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  padding: 6px 15px;
}
.mergeUtilityWrapper .appTitle {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 6px;
}
.mergeUtilityWrapper .brandingMessage {
  font-size: .6em;
  font-weight: 600;
  color: #ffffff;
  overflow: hidden;
  width: 112px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 22px;
  margin-right: 38px;
}
.mergeUtilityWrapper .closeFAB {
  overflow: hidden;
  z-index: 100;
  border: none;
  color: white;
  position: absolute;
  top: 26px;
  right: 18px;
  background-color: #edac47;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  cursor: pointer;
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.5s;
}
.mergeUtilityWrapper .closeFAB:hover {
  background-color: #e89719;
}
.mergeUtilityWrapper .closeFAB:active {
  background-color: #e89719;
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.mergeUtilityWrapper .closeFAB[disabled] {
  background-color: #c0c0c0;
  -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: default;
}
.mergeUtilityWrapper .closeFABX {
  transition: all 0.5s;
  display: block;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.mergeUtilityWrapper .closeFABX:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\274c";
  font-size: 1.5em;
  color: #FFFFFF;
  line-height: 2.1em;
  text-align: center;
}
.mergeUtilityWrapper .scrollContainer {
  width: 100%;
  height: -moz-calc(100% - 44px);
  height: -webkit-calc(100% - 44px);
  height: calc(100% - 44px);
  overflow-y: scroll;
}
.mergeUtilityWrapper .applicationContainer {
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
  margin: 15px auto 0 auto;
  height: auto;
  overflow-x: visible;
  padding-bottom: 45px;
}
.mergeUtilityWrapper .section {
  display: block;
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25882);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25882);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25882);
  padding: 15px 20px 15px 20px;
  border-top: 2px solid #1B87c9;
  overflow: visible !important;
  width: 100%;
  height: auto;
}
.mergeUtilityWrapper .nameContainer {
  width: 100%;
  height: auto;
}
.mergeUtilityWrapper .contactName {
  font-size: 1em;
  color: #1B87c9;
  font-weight: 600;
  margin-bottom: 15px;
}
.mergeUtilityWrapper .appMessage {
  font-size: 0.8em;
  color: #797979;
  font-weight: 600;
}
.mergeUtilityWrapper .subSection {
  width: 100%;
  height: auto;
}
.mergeUtilityWrapper .sectionLabel {
  font-size: 0.9em;
  color: #515151;
  font-weight: 600;
  margin-bottom: 15px;
}
.mergeUtilityWrapper .group {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.mergeUtilityWrapper .subLabel {
  font-size: 0.8em;
  color: #797979;
  font-weight: normal;
  margin-bottom: 10px;
  font-weight: 600;
}
.mergeUtilityWrapper .contentTable {
  width: 100%;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}
.mergeUtilityWrapper .headerRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #eeeeee;
  min-height: 22px;
  box-sizing: border-box;
}
.mergeUtilityWrapper .columnHeader {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #1B87c9;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: .7em;
  line-height: 20px;
}
.mergeUtilityWrapper .columnHeader.notes {
  -webkit-box-flex: 1.5;
  -moz-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
.mergeUtilityWrapper .radioColumn {
  width: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mergeUtilityWrapper .tableRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #ffffff;
  min-height: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}
.mergeUtilityWrapper .tableRow:last-of-type {
  border-bottom-color: transparent;
}
.mergeUtilityWrapper .column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #515151;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.8em;
  line-height: 20px;
}
.mergeUtilityWrapper .column.notes {
  -webkit-box-flex: 1.5;
  -moz-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
.mergeUtilityWrapper .buttonBar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px dotted #797979;
}
.mergeUtilityWrapper .rightAlignedButtonWrapper {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.mergeUtilityWrapper .preserveBTN, .mergeUtilityWrapper .mergeBTN {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff !important;
  border: 1px solid #edac47 !important;
  background-color: #edac47 !important;
  background-image: none !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.8em;
  font-weight: normal !important;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  opacity: 1 !important;
  padding: .2em .6em;
  margin-left: 8px;
}
.mergeUtilityWrapper .preserveBTN:hover, .mergeUtilityWrapper .mergeBTN:hover {
  color: #ffffff;
  border: 1px solid #e89719 !important;
  background-color: #e89719 !important;
}
.mergeUtilityWrapper .preserveBTN:active, .mergeUtilityWrapper .mergeBTN:active {
  color: #ffffff;
  border: 1px solid #e89719 !important;
  background-color: #e89719 !important;
}
.mergeUtilityWrapper .preserveBTN:focus, .mergeUtilityWrapper .mergeBTN:focus {
  outline: none;
}
.mergeUtilityWrapper .preserveBTN[disabled], .mergeUtilityWrapper .mergeBTN[disabled] {
  opacity: 0.4 !important;
  cursor: default;
}
.mergeUtilityWrapper .control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  cursor: pointer;
}
.mergeUtilityWrapper .control input {
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
  z-index: -1;
  /* Put the input behind the label so it doesn't overlay text */
}
.mergeUtilityWrapper .control input:focus {
  outline: none;
}
.mergeUtilityWrapper .checkbox .control-indicator {
  border: 1px solid #1B87c9;
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 14px;
  height: 14px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-position: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.mergeUtilityWrapper .checkbox .control-indicator:focus {
  outline: none;
}
.mergeUtilityWrapper .radio .control-indicator {
  border: 1px solid #1B87c9;
  position: absolute;
  top: 3px;
  left: -14px;
  display: block;
  width: 14px;
  height: 14px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-position: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.mergeUtilityWrapper .radio .control-indicator:focus {
  outline: none;
}
.mergeUtilityWrapper .radio {
  margin: 0px 0px;
}
.mergeUtilityWrapper .radio .control-indicator {
  border-radius: 50%;
  top: 3px;
  left: 3px;
}
.mergeUtilityWrapper .radio input:checked ~ .control-indicator {
  border: 4px solid #1B87c9;
}
.mergeUtilityWrapper .radio input {
  top: -15px;
  left: 4px;
}
.mergeUtilityWrapper .checkbox input[type="checkbox"]:checked ~ .control-indicator {
  background-color: #1B87c9;
}
.mergeUtilityWrapper .checkbox input[type="checkbox"][disabled]:checked ~ .control-indicator {
  border: 1px solid 1px solid #797979;
  background-color: #797979;
  cursor: default;
  opacity: .6;
}
.mergeUtilityWrapper .checkbox input[type="checkbox"][disabled] ~ .control-indicator {
  border: 1px solid #797979;
  cursor: default;
  display: block;
  opacity: .6;
}
.mergeUtilityWrapper .footer {
  display: block;
  height: 40px;
  position: fixed;
  z-index: 50;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  background-color: #f9f9f9;
  -moz-box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -1px 6px -1px rgba(0, 0, 0, 0.4);
}
.mergeUtilityWrapper .footerButtonBar {
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 6px;
}
.mergeUtilityWrapper .menuButtonContainer {
  height: 22px;
}
.mergeUtilityWrapper .menuButton {
  height: 22px;
  font-size: 12.8px !important;
}
.mergeUtilityWrapper input[type="date"] {
  height: 22px;
  font-size: 12.8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1px;
  font-family: "Open Sans", sans-serif;
  color: #515151;
}